.DrawerToggle {
	width: 24px;
	height: 55%;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
	padding: 10px 0;
	box-sizing: border-box;
	cursor: pointer;
}

.DrawerToggle div {
	width: 90%;
	height: 2px;
	background-color: white;
	border-radius: 1px;
}

@media (min-width: 1120px) {
	.DrawerToggle {
		display: none;
	}
}
