.Home {
	width: 100%;
	height: 100%;
	display: flex;
}

@media only screen and (max-width: 840px) {
	.Home {
		flex-direction: column;
	}
}

.Home h1 {
	font-size: 41px;
	font-weight: 200;
	margin: 15px 0px;
}

.Home h2 {
	font-size: 29px;
	margin: 0px;
	color: #e9a73f;
}

.Home h3 {
	font-weight: 100;
	font-size: 21px;
	margin: 7px 0px;
}

.Home span {
	font-weight: 600;
	color: #005ab6;
}

.Home span:nth-child(2) {
	color: rgb(49, 179, 240);
}

.LeftCol {
	display: flex;
	flex-direction: column;
	padding: 180px 3% 0% 3%;
	animation-name: fade-in;
	animation-duration: 1s;

}

@media only screen and (max-width: 840px) {
	.LeftCol {
		padding: 55px 5% 0% 5%;
	}
}

.RightCol {
	display: flex;
	flex-wrap: wrap;
	padding: 68px 0px;
	width: 72%;
	justify-content: center;
	background: linear-gradient(rgba(182, 0, 0, 0),rgba(255, 244, 234, 0.5)),url("https://www.morningbrew.com/assets/phones-daily-homepage.png"),linear-gradient(#ff904f,#f1ae18);;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* height: calc(100vh - 68px); */
}

@media only screen and (max-width: 840px) {
	.RightCol {
		padding: 20px 0px;
		width: 100%;
	}
}

.HeaderLogo {
	width: 372px;
	margin-bottom: 3px;
}

@keyframes fade-in {
	0%   {opacity: 0}
	100%   {opacity: 100}
  }
  