.Home {
	width: 100%;
	height: 100vh;
	display: flex;
}

@media only screen and (max-width: 840px) {
	.Home {
		flex-direction: column;
	}
  }

.Home div {
	flex: 1;
}

.Home h1 {
	font-size: 41px;
	font-weight: 200;
	margin: 15px 0px;
}

.Home h2 {
	font-size:29px;
	margin: 0px;
	color: #005ab6;
}

.Home h3 {
	font-weight: 100;
	font-size: 21px;
	margin: 7px 0px;
}

.Home span {
	font-weight: 600;
	color: #005ab6;
}

.LeftCol {
	padding: 130px 3% 0% 3%;
}

@media only screen and (max-width: 840px) {
	.LeftCol {
		padding: 20px 3% 0% 3%;
	}
  }

.RightCol {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("https://cdn.thewirecutter.com/wp-content/uploads/2019/06/budgetandroid-2x1-.jpg");
}
