.NavigationItemsLeft {
	margin: 2px 0 0 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: column;
	align-items: center;
}

@media (min-width: 1120px) {
	.NavigationItemsLeft {
		flex-direction: row-reverse;
		bottom: -2px;
		left: 230px;
		position: absolute;
	}
}

.Active,
.NavigationItemsLeft a:active {
	color: #8d97dd !important;
}
